:root {

--primary:#ddd;
--dark:#333;
--light:#fff;

}

html {

box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
color: var(--dark);

}

body {

background-color: blanchedalmond;
margin: 30px 50px;
line-height: 1.4;

}

.btn {
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: black;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0px;
    border-radius: 20px;
   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}



img {

max-width: 100%;


}

.wrapper {

display: grid;
grid-gap: 20px;

}

.main-nav ul{

display: grid;
grid-gap: 20px;
padding: 0;
list-style: none;
grid-template-columns: repeat(6 ,1fr);

}

.main-nav a {

    background: #fff;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: black;

}

.main-nav a:hover {
 background: black;
 color: white;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.top-container {
display: grid;
grid-gap: 10px;

 grid-template-areas: 
"showcase showcase showcase"
"top-box-a top-box-b top-box-c"; 



}



.showcase {

grid-area: showcase;
min-height: 200px;
background: url(img/pexels-pixabay-315755.jpg);
background-size: 100%;
background-position: center;

transition: 0.7s ease-in-out;

padding: 3rem;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}


.showcase h1 {

font-size: 5rem;
margin-bottom: 0;
color:white;

}

.showcase p {

font-size: 1.3rem;
margin-top: 0;
color: white;

}




.top-box {


display: grid;
align-items: center;
justify-items: center;
box-shadow: grey;
padding: 1.5rem;
cursor: pointer;
transition: 0.7s ease-in-out;
}


.top-box:hover {

background-size: 120%;

}


.top-box-a {
grid-area: top-box-a;
min-height: 90px;

background-image: url(img/pexels-ahmad-syahrir-605408.jpg);
background-size: 100%;
background-position:center;  

}




.top-box-b {
grid-area: top-box-b;
min-height: 90px;
background-image: url(img/pexels-lgh-1256875.jpg);
background-size: 100%;
background-position:center; 

}





.top-box-c {
    grid-area: top-box-c;
    min-height: 90px;
    background-image: url(img/pexels-pixabay-45202.jpg);
   background-size: 100%;
   background-position:center; 
    
    }

    


.boxes {

display: grid;
grid-gap: 20px;
 grid-template-columns: repeat(auto-fit,
 minmax(100px ,1fr)); 
 grid-template-areas:"box1 box2 box3"
 ;
 

} 

.box1 {
   
    grid-area: box1;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: black;
}

.box1 .btn:hover {

    background-color: blue;
    color: white;

}

.box1 .btn {

    background-color: blanchedalmond;
    

}

.box2 {

    grid-area: box2;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: black;

}

.box2 .btn {

    background-color: blanchedalmond;
    

}

.box2 .btn:hover {

    background-color:darkblue;
    color: white;

}

.box3{

    grid-area: box3;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: black;

}

.box3 .btn:hover {

    background-color :burlywood;
    

}

.box3 .btn {

    background-color: blanchedalmond;
    

}

.info{


    min-height: 100px;
    background: url(img/pexels-rachel-claire-5865071.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--dark);
    color: white;
    transition: 0.7s ease-in-out;

}


.info .btn:hover {

    background-color: black;
    color: white;
}

footer {

margin-top: 2rem;
background:dimgray;
color: white;
text-align: center;
padding: 1rem;

}


@media(max-width: 600px) {
.top-container {

grid-template-areas: "showcase showcase showcase"
"top-box-a top-box-b top-box-c"
;

}

.showcase h1 {

font-size: 2.5rem;

}

.main-nav ul {
grid-template-columns: 1fr;
}

.info {
 grid-template-columns: 1fr;
}

.info .btn {

    display: block;
    text-align: center;
    margin: auto;

}
}
